*{
    font-style:c;
}
body{
    width: 4000px;
}

#contener{
    background-color: rgb(255, 247, 247);
    width:2000px;
    margin: 0 auto;
}

h1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.centre{
    text-align: center;
    height: 100px;
}

.droite{
    float: right;
    
}

h2, h3, h4, h5{
    border-bottom: 2px solid black;
}

.gauche{
    float: left;
}


footer{
    text-align: center;

}

p{
    display: inline;
    border: 0;
}
section{
    height: 700px;
  
}

