
}
body{
    width: 4000px;
}

#contener{
    background-color: rgb(255, 247, 247);
    width:2000px;
    margin: 0 auto;
}

h1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.centre{
    text-align: center;
    
}

.droite{
    float: right;
    width: 600px;
    height: 300px;
    margin-right: 600px;

    
    
}

h2, h3, h4, h5{
    border-bottom: 2px solid black;
}

.gauche{
    float: left;
    width: 500px;
    
}


footer{
    text-align: center;

}

p{
    display: inline;
    border: 0;
}
section{
    height:700px;
    
  
}






